<html>
<head>
<title>AiArtist</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='favicon.png')}}">
<link rel=stylesheet type=text/css href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div class=register>
<h1>Enter the Text</h1>
<form action="{{url_for('summarizeCode')}}" method='post'>
<p><textarea name='text' cols=50 rows=22 placeholder="Enter the text"> 
</textarea></p>
<p><input type='submit' value='Analyse' class='button'></p>
</form>
</div>
</body>
</html>
