<html>
<head>
<link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
<div class=register>
<table align="center" border="3" cellspacing="2" cellpadding="0" width="1300">
<thead>
<th>Input Text</th>
</thead>
<tr>
<td>{{input}}</td>
</tr>
</table>
<table align="center" border="3" cellspacing="2" cellpadding="0" width="1300">
<thead>
<th>Summarized Text</th>
</thead>
<tr>
<td>{{summ}}</td>
</tr>
</table>
<table align="center" border="3" cellspacing="2" cellpadding="0" width="1300">
<thead>
<th>Sentiment Analysis</th>
</thead>
<tr>
<td>{{sent}}</td>
</tr>
</table>
<table align="center" border="3" cellspacing="2" cellpadding="0" width="1300">
<thead>
<th>Tags</th>
</thead>
<tr>
<td>{{tag}}</td>
</tr>
</table>


</div>
</body>
</html>